@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;800&display=swap");

:root {
  --font-one: "Poppins", sans-serif;
  --font-two: "Heebo", sans-serif;
  --color-black: #000000;
  --color-blue: #2d9cdb;
  --gray-one: #333333;
  --gray-two: #4f4f4f;
  --gray-three: #828282;
  --gray-four: #bdbdbd;
  --gray-five: #e0e0e0;
  --gray-six: #f2f2f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-one);
  background-color: #ffffff;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

html {
  scroll-behavior: smooth;
}

.nav {
  height: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  height: 2.5rem;
}

.nav-body-item a:hover {
  color: rgb(85, 71, 71);
  transition: all 0.2s ease-in-out;
}

.nav-logo h2 {
  color: var(--gray-one);
  font-family: var(--font-two);

  font-weight: 800;
  font-size: 1.5rem;
}

#menu {
  font-size: 18px;
  cursor: pointer;
}

.menu2 {
  transform: translateX(100%);
}

.nav-body-items {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s ease-in-out;
  background-color: rgb(41, 40, 40);
}

.nav-body-items li {
  margin-bottom: 2rem;
  list-style: none;
  text-align: center;
}

.nav-body-item {
  font-size: 22px;
  padding: 0.3rem 0;
}

.nav-body-item a {
  padding: 0.3rem;

  text-decoration: none;
  color: rgb(231, 227, 227);
}

.active {
  font-weight: 700;
  border-bottom: 3px solid #fff;
}

#cancel {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

#cancel:hover,
#menu:hover {
  color: rgb(49, 37, 37);
  font-weight: 700;
}

main {
  margin: 0 2%;
}

.section__banner {
  margin-bottom: 5vh;
}

.section__banner-title {
  display: grid;
  width: 272px;
  margin-left: 20px;
  margin-bottom: 5vh;
  padding: 2px;
}

.section__banner-title .sub-title {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-blue);
}

.section__banner-title .title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--gray-one);
}

.img-banner {
  width: 100%;
  height: 145px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 18px;
}

.contact__email {
  width: 291px;
  display: grid;
  margin: 0 auto;
  margin-bottom: 5vh;
}

.contact__email h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--gray-one);
  margin-bottom: 25px;
}

.contact__email p {
  font-size: 0.65rem;
  font-weight: 400;
  color: var(--gray-two);
  margin-bottom: 25px;
}

.contact {
  margin-bottom: 10vh;
}

.contact span {
  font-size: 0.5rem;
  font-weight: 500;
  color: var(--gray-three);
}

.container-input {
  display: flex;
  width: 100%;
  background-color: var(--gray-six);
  border-radius: 12px 0 0 12px;
  height: 47px;
  justify-content: space-between;
}

.container-input input {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 10px;
}

.container-input input::placeholder {
  color: var(--gray-four);
}

.container-input button {
  border: none;
  background-color: var(--color-blue);
  border-radius: 12px;
  width: 100%;
  color: var(--gray-six);
  font-size: 0.75rem;
  font-weight: 500;
}

.section_cards {
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle-h2 {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--gray-one);
}
.margin-botom {
  margin-bottom: 10vh;
  width: 280px;
}

.card {
  width: 300px;
  height: 422px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 3vh;
}
section {
  display: grid;
  justify-items: center;
}

.card i {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  color: white;
  height: 60px;
  width: 60px;
  margin-bottom: 5vh;
  font-size: 20px;
  margin-left: 5vw;
}

.blue {
  background-color: #2d9cdb;
}

.green {
  background-color: #27ae60;
}

.red {
  background-color: #eb5757;
}

.card strong {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray-one);
  display: block;
  margin-bottom: 5vh;
  margin-left: 5vw;
}

.card p {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--gray-two);
  margin-bottom: 3vh;
  margin-left: 5vw;
  margin-right: 3vw;
}

.button-get {
  width: 116px;
  height: 42px;
  border-radius: 12px;
  color: var(--gray-three);
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: #e0e0e0;
  font-family: var(--font-one);
  margin-bottom: 8vh;
  margin-left: 5vw;
}

.button-get:hover {
  color: white;
  background-color: var(--color-blue);
}

.card:hover {
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgb(12 11 11 / 44%);
  cursor: pointer;
}
.container-desing {
  width: 300px;
  height: 380px;
  margin: 0 auto;
}
.container-desing img {
  width: 100%;
  border-radius: 12px;
}
.container-desing span {
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--gray-three);
}
.container-desing p {
  font-size: 1.12rem;
  font-weight: 500;
  color: var(--gray-one);
}
.see-more {
  color: var(--color-blue);
  font-size: 1.12rem;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 2vh;
}
.section__desings {
  margin-bottom: 10vh;
}
.meet-team {
  width: 280px;
  margin-bottom: 5vh;
}
.meet-team span {
  font-size: 1.12rem;
  font-weight: 500px;
  color: #eb5757;
}
.meet-team h2 {
  font-size: 2.25rem;
  font-weight: 500;
  color: var(--gray-one);
}
.meet-team p {
  font-size: 1rem;
  font-style: 400;
  color: var(--gray-two);
}
.famele {
  grid-row-start: 1;
  grid-row-end: 3;
  width: 150.16px;
  height: 150.16px;
}
.men-one {
  width: 120px;
  height: 120px;
}
.men-two {
  width: 140px;
  height: 140px;
}
.photos-team {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-gap: 0.5rem;
  align-items: center;
  width: 310px;
  margin: 0 auto;
}
.photos-team img {
  width: 100%;
  border-radius: 12px;
}
.section__team {
  margin-bottom: 10vh;
}

.clients h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gray-one);
  margin-bottom: 3vh;
}
.clients {
  display: grid;
  justify-items: center;
  margin-bottom: 8vh;
}
.client-img {
  width: 82px;
  height: 82px;
}
.client-img img {
  width: 100%;
  border-radius: 12px;
}
.container-client {
  width: 310px;
  display: flex;
  justify-content: space-around;
  height: 75px;
}
.puesto {
  font-size: 1.2rem;
  color: var(--gray-three);
  font-size: 500;
}
.container-client .name {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 2vh;
}
footer {
  background-color: #100e1d;
  color: #ffffff;
  font-size: 1rem;
}
.menu-footer {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vw;
}
li {
  list-style: none;
}
.menu li {
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.red-social {
  margin-left: 5vw;
}
.red-social {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 5vw;
}
.red-social i {
  letter-spacing: 5px;
}
.border {
  border-radius: 12px;
}
.join {
  width: 73px !important;
  height: 39px;
  align-self: center;
  margin-right: 5px;
}
.corza {
  text-align: center;
}
